.caption {
  margin-bottom: 4px;
}

.item {
  padding: 2px 0 !important;
  border: none !important;
}

.alert {
  background-color: var(--ant-color-warning-bg);
  border: none;
  border-radius: 8px;
}

